body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: white;
}
header{
    background-color: darkorange;
    color: #ffffff;
}
.wrapper {
    width:100%;
    height:60px;
    text-align: center;

}
.section {
    border:0;
    float:left;
    height:58px;
    margin-left:0;
    width:98px;

}
.wrapper div:first-child {
    margin-left:0px;
    width: 200px;
}
.wrapper div:last-child{
    float: right;
}
.content{
    width:100%;
    height:90%;
}
.form{

    border:0;
    float:left;
    height:300px;
    width:300px;
    margin-left: 40%;
    margin-top: 10%;
}
.lang_panel{
    width: 100%;
}
p{
    vertical-align: middle;
}
#hello{
    width: 30%;
}
.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 50px auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password], input[type=date], input[type=number], input[type=email] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.login-card input[type=checkbox]{
    margin-bottom: 10px;
}
.login-card select{
    margin-bottom: 10px;
}

.login-card input[type=text]:hover, input[type=password], input[type=date], input[type=number], input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    height: 36px;
    padding: 0 8px;
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: darkorange;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: peru;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    text-align: left;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.button {
    border-radius: 0px;
    color: grey;
    font-size: 14px;
    background: #e6eb5e;
    padding: 10px 20px 10px 20px;
    border: 0;
}

.button:hover {
    background-color: darkkhaki;
}
#hello{
    padding-right: 15%;
    padding-top: 8px;
}
.main_table{

    margin: auto;
    width: 90%;
}
.navigation td{
    height: 50px;
    background-color: #e6eb5e;
    padding-left: 10px;
}
#logout{
    margin-right: 30px;
}
.content-card {
    background-color: #fff;
    height:60px;
}
.part {
    border:0;
    float:left;
    margin-left:0;
    padding-left: 20px;
    padding-top: 10px;
}
.content-card div:first-child {
    margin-left:0px;
}
.content-wrapper{
    font-size: 14pt;
    width: 80%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px #999999 solid;
    margin-top: 50px;
    margin-left: 10%;
    margin-top: 100px;
}
#country{
    font-size: 16pt;
    font-weight: bold;
    color: blue;
}
.container{
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
}
.column{
    width: 15%;
    float: left;
    margin-left: 1%;
    text-align: center;
}
.working{
    margin-left: 18%;
}
#tour{
    text-align: left;
}
.pagename{
    padding-left: 100px;
    color: #666666;
}
.discount{
    width: 50px;
}

nav {
    width: 100%;
    float: left;
    margin-left: 90px;
}
.nav_button{
    float: left;
    margin-left: 10px
}

